body {
	background-color: white;
	font-family: sans-serif; 
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid grey;	
}

thead th {
	background: lightgrey; 
	color: white;
	text-align: left;
}

tbody td {
	text-align: left; 
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
}

dd,dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}
