body {
	background-color: white;
	font-family: sans-serif; 
}

input {
	float: right;
	font-size: 18px; 
}

.error {
	font-size: 20px; 
	font-weight: bold; 
	color: grey;
}

table {
	border-collapse: collapse;
 	table-layout: fixed;
	width: 100%; 
}

thead th:nth-child(1) {
	width: 3%; 
}

thead th:nth-child(2) {
	width: 8%; 
}

thead th:nth-child(3) {
	width: 8%; 
}

thead th:nth-child(4) {
	width: 20%; 
}

thead th:nth-child(5) {
	width: 43%; 
}

thead th:nth-child(6) {
	width: 14%; 
}

table, th, td {
	border: 1px solid grey;	
}

thead th {
	background: lightgrey; 
	color: white;
	text-align: center;
}

tbody td:nth-child(1) {
	text-align: right;
}

tbody td:nth-child(2) {
	text-align: right;
}

tbody td:nth-child(3) {
	text-align: right;
}

tbody td:nth-child(4) {
	text-align: left;
}

tbody td:nth-child(5) {
	text-align: left;
}

tbody td:nth-child(6) {
	text-align: left;
}

tbody td:nth-child(7) {
	vertical-align: left; 
}

table.zebra tr:nth-child(odd) {
	background-color: #F8F8F8;
}

table.zebra tr:nth-child(even) {
	background-color: white;
}

table.zebra tr:nth-child(odd):hover, table.zebra tr:nth-child(even):hover {
	background-color: #ccff00;
} 

table.details {
	border-collapse: collapse;
 	table-layout: fixed;
	width: 60%; 
}

table.details thead th:nth-child(1) {
	width: 15%; 
}

table.details thead th:nth-child(2) {
	width: 5%; 
}

table.details thead th:nth-child(3) {
	width: 5%; 
}

table.details thead th:nth-child(4) {
	width: 5%; 
}

table.details thead th:nth-child(5) {
	width: 5%; 
}

table.details tbody td {
	font-weight: bold; 
}

table.details tbody td:nth-child(4) {
	text-align: right;
}

table.details tbody td:nth-child(5) {
	text-align: center;
}

table.details tbody td:nth-child(5) {
	color: grey; 
}

table.details tr:nth-child(odd) {
	background-color: #F8F8F8;
}

table.details tr:nth-child(even) {
	background-color: white;
}

table.details tr:nth-child(odd):hover, table.details tr:nth-child(even):hover {
	background-color: #ccff00;
} 

dd,dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}

.check {
	color: green; 
	font-size: 15px; 
}

.cross {
	color: red;
	font-size: 15px; 
}
